# docker-compose.yml
version: "3.8"
services:
  postgres:
    container_name: colyseus-postgres
    image: postgres:13
    environment:
      - POSTGRES_DB=nakama
      - POSTGRES_PASSWORD=localdb
    volumes: ["postgres-data:/var/lib/postgresql/data"]
    expose:
      - "8080"
      - "5432"
    ports:
      - "5432:5432"
      - "8080:8080"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "nakama"]
      interval: 3s
      timeout: 3s
      retries: 5
  nakama:
    container_name: colyseus-nakama
    image: heroiclabs/nakama:3.23.0
    entrypoint:
      - "/bin/sh"
      - "-ecx"
      - >
        /nakama/nakama migrate up --database.address postgres:localdb@postgres:5432/nakama &&
        exec /nakama/nakama --name nakama1 --database.address postgres:localdb@postgres:5432/nakama --logger.level DEBUG --session.token_expiry_sec 7200        
    restart: always
    links:
      - "postgres:db"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./:/nakama/data
    expose:
      - "7349"
      - "7350"
      - "7351"
    ports:
      - "7349:7349"
      - "7350:7350"
      - "7351:7351"
    healthcheck:
      test: ["CMD", "/nakama/nakama", "healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7
    container_name: colyseus-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - coly-net

  colyseus:
    build: .
    container_name: colyseus
    restart: unless-stopped
    environment:
      - PORT=2567
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=development
      - NAKAMA_URL=localhost:7350
    depends_on:
      - redis
      - nakama
    ports:
      - "2567:2567"
    networks:
      - coly-net

volumes:
  postgres-data:
  redis-data:

networks:
  coly-net:
    driver: bridge
